/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800;900&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	font-family: 'Inter', sans-serif;
}

a{
	text-decoration: none;
}

ul li{
	list-style-type: none;
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
}

/* Customize Bootstrap */
.carousel-inner:after{
	content:'';
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:rgba(0,0,0,.75);
}

.carousel-inner img{
	z-index: 1;
	width: 100%;
	height: 60vh;
	background-position: center;
	object-fit: cover;
}

.carousel-caption{
	z-index: 99;
}

.card-img{
	object-fit: cover;
}

.fs-7{
	font-size: 14px;
}

.fs-8{
	font-size: 12px;
}
